<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ page.title }} · Actual - Proof of Work</title>
{% seo %}
<link rel="icon" type="image/png" href="/assets/img/favicon-32.png?v=5" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/favicon-192.png?v=5" sizes="192x192">
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico?v=5" sizes="any">
<link rel="shortcut icon" href="/favicon.ico?v=5">
<link rel="stylesheet" href="/assets/css/main.css">
