---
---

@import "minima";

/* Add logo before site title */
.site-title::before {
  content: "";
  display: inline-block;
  background: url("/assets/img/logo.png") no-repeat center;
  background-size: contain;
  width: 40px;     /* adjust size as needed */
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
