---
---

@import "{{ site.theme }}";

/* Logo before site title */
.site-title::before {
  content: "";
  display: inline-block;
  background: url("/assets/img/logo.png") no-repeat center;
  background-size: contain;
  width: 68px;
  height: 68px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Optional: hide text, logo-only */
.site-title { font-size: 0; }
